@font-face {
  font-family: 'Nunito';
  src: url('../static/Nunito-Black.ttf');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}


:root{
    font-size: 3rem;
    font-family: 'Nunito', sans-serif;
}

main{
  padding:1rem;
  background-color: #AED05D;
}

header{
  color:#1F366E;
}

.titulo{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
  text-align: center;
}


.botones {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #7fb34d;
  border-radius: 1rem;
  padding: 0.5rem;
  width: 25rem;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.botones input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  color: #2d3e1f;
  font-size: 1rem;
  font-weight: bold;
}

.botones input::placeholder {
  color: #2d3e1f;
}

.botones img {
  width: 24px;
  height: 24px;
}

.botones:hover {
  background-color: #72a146;
  transform: scale(1.01);
}

.botones p {
  margin: 0;
  color: #2d3e1f;
  font-weight: 600;
}