@font-face {
  font-family: 'Nunito';
  src: url('../../static/Nunito-Black.ttf');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}


:root{
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
}

main{
  padding:1rem;
  background-color: #AED05D;
}

header{
  color:#1F366E;
  padding-top: 1rem;
}

.modos{
  display: flex;
  justify-content: right;
  flex-direction: row;
  gap: 0.7rem;
}

.sol{
  height: 1.6rem;
  width: 1.6rem;
  margin-top: 0.35rem;
}

.luna{
  height: 1.3rem;
  width: 1.3rem;
  margin-top: 0.5rem;
}

.boton-modo {
  width: 2.8rem;
  height: 1.4rem;
  background-color: #D9D9D9;
  border-radius: 3rem; 
  position: relative;
  cursor: pointer;
  margin-top: 0.4rem;
}

.toggle {
  width: 1.2rem;
  height: 1.2rem;
  background-color:#FFFBFB;
  border-radius: 50%;
  position: absolute;
  top: 0.11rem;
  left: 0.12rem;
  transition: left 0.3s ease;
}

.boton-modo.activo {
  background-color: #9c9c9c;
}

.boton-modo.activo .toggle {
  left: 1.45rem;
}

.titulo{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo img{
  height: 10rem;
  width: 15rem;
  cursor:pointer;
}

.settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
  text-align: center;
  color: white;
}


.botones {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #7fb34d;
  border-radius: 1rem;
  padding: 0.5rem;
  width: 100%;
  height: 3rem;
  border: #618a3b solid 0.1rem;
  color: #AED05D;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.botones input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  color: #2d3e1f;
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
}

.botones input::placeholder {
  color: #2d3e1f;
}

.botones img {
  width: 24px;
  height: 24px;
}

.botones:hover {
  background-color: #72a146;
  transform: scale(1.01);
}

.botones p {
  margin: 0;
  color: #2d3e1f;
  font-weight: 600;
}

.diferente{
  display: flex;
  align-items: center;
  gap:10rem;
  width:100%;
}

.final{
  display: flex;
  flex-direction: row;
  gap: 7.8rem;
  padding-top: 0.5rem;
  }


.diferente-1 button{
  background-color:#3B6027 ;
  border-radius: 1rem;
  border: transparent;
  width: 16.5rem;
  height: 2.5rem;
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
  color: #c0e4a3;
}

.diferente-2 button{
  background-color:#3B6027 ;
  border-radius: 1rem;
  border: transparent;
  width: 16.5rem;
  height: 2.5rem;
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
  color: #c0e4a3;

}

.diferente-2 :hover{
  background-color: #304e20;
  transform: scale(1.01);
  cursor: pointer;
  transition: 0.3s ease;

  border-radius: 1rem;

}


.diferente-1 :hover{
  background-color: #304e20;
  transform: scale(1.01);
  cursor: pointer;
  transition: 0.3s ease;
  border-radius: 1rem;

}

body.dark-mode{
  background-color: #112431;
}

body.dark-mode .titulo h1 {
  color:#EAF6FF;
}

body.dark-mode .titulo h1 {
  color:#EAF6FF;
}

body.dark-mode main {
  background-color: #224832;
  color:#EAF6FF;
}


body.dark-mode .botones {
  background-color: #9ABD89;
  border: #89a87b solid 0.1rem;
  color:#EAF6FF;
}


body.dark-mode .botones input {
  color:#FFFFFF;
}

body.dark-mode .botones input::placeholder {
  color:#FFFFFF;
}

body.dark-mode .botones:hover {
  background-color: #8dad7e;
  border: #76916a solid 0.1rem;
  transform: scale(1.01);
}

body.dark-mode .diferente-1 button{
  background-color:  #20322C;
  color: #FFFFFF;
}

body.dark-mode  .diferente-2 button{
  background-color:#20322C   ;
  color: #FFFFFF;

}

body.dark-mode .diferente-2 :hover{
  background-color: #15201c;

}


body.dark-mode .diferente-1 :hover{
  background-color: #15201c;
}