body {
    font-size: 6.5rem;
}

@font-face {
    font-family: 'Nunito';
    src: url('../static/Nunito-Black.ttf');
}

header {
  display: flex;
  justify-content: space-between; /*logo a la izquierda y el resto a la derecha */
  align-items: center;
  background-color: #FFD941;
  width: 100%;
  padding: 3rem;
  min-height: 6rem;
  min-width: 15rem;
  gap: 3rem;
  font-family: 'Nunito';
  color: #4BA289;
}
  
  .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #4BA289;
    font-size: 3rem;
    font-weight: bold;

  }

  .abajo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 6rem;
    font-size: 2.5rem;

  }

  .abajo p {
    margin: 0; 
    line-height: 1;
  }
  
  .mini{
    font-size: 1.5rem;
  }
  
  .logo img {
    width: 6rem;
    height: 6rem;
  }
  
  .lo-demas {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
  }

  
  .links a {
    text-decoration: none;
    font-size: 2.25rem;
    color: #4BA289;
    padding: 1rem;
    border-radius: 0.5rem;
  }

  .sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
  }
  

.up {
    font-family: 'Nunito';
    color: #4BA289;
    font-size: 2.5rem;
    background-color: #FFBC41;
    border-width: 0.1rem;
    border-color: #4BA289;
    border-style: solid;  
    border-radius: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
}

.in {
    font-family: 'Nunito';
    color: #4BA289;
    font-size: 2.5rem;
    background-color: #FFD941;
    padding: 0.5rem;
    border-color: #FFD941;
    border-style: solid;
    cursor: pointer;
}

.in:hover, .up:hover {
    transform: scale(1.01);
}

main {
    display: flex;
    gap: 1.5rem;
    padding: 1.5rem;
    background-image: url("https://media.istockphoto.com/id/1497909628/es/foto/gato-y-perro-sentados-juntos-en-el-prado.jpg?s=612x612&w=0&k=20&c=e_QyKM0L2UroJHg0WBpSjEer6Eg3b3D8rFSul0p0wGU=");
}

body {
    background-image: url('inicio.jpg');
    font-family: 'Nunito';
}

hr {
    border: none;
    height: 0.6rem;
    background-color: rgb(151, 149, 113);
    border-radius: 1rem;
}

.Caja {
    font-size: 3rem;
    font-family: 'Nunito';
    padding: 0.5rem;
    text-align: center;
    background-color: cornflowerblue;
    border-radius: 4.5rem;
    width: 25rem;
    margin: 0 auto;
    border: 0.2rem solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    cursor: pointer;
}

.Caja:hover {
    transform: scale(1.01);
}

img {
    width: 6.5rem;
    height: 6.5rem;
    border: 0.1rem solid black;
    margin-left: 1.5rem;
    border-radius: 1rem;
}
