@font-face {
    font-family: 'Nunito';
    src: url('../static/Nunito-Black.ttf');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  header {
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 5rem;
    text-align: center;

}

  body {
    font-size: 3rem;
    font-family: 'Nunito', sans-serif;
    color: #4BA289;
    line-height: 1.2;
    min-height: 100vh;      /* Ocupa toda la pantalla */
  }

  .mega-contenedor{

    display: flex;
    flex-direction: column;
    gap:2rem;
  }


.filas{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
}

.cajita {
  background-color: burlywood;
  display: flex;
  flex-direction: column;
  height: 29rem;
  width: 19rem;
  padding: 1rem;
  font-size: 0.8rem;
  overflow: hidden; /* evita que la imagen se salga */
  border-radius: 1rem;
}

.cajita img {
  width: 100%;
  height: 50%;
  object-fit: cover; /* recorta sin distorsionar */
  border-radius: 1rem;
}

.corazones{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap:5rem;

}
.cajita .contenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
  padding: 1rem;

}

.cajita button {
  background-color: #4BA289;
  color: white;
  border: none;
  width: 100%;
  height: 2rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s;
}

.cajita button:hover {
  background-color: #3a8b73;
}

.linea{
  width:100%;
  height:4rem;
  background-color: rgb(255, 255, 0);
}