* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
 
  @font-face {
    font-family: 'Nunito';
    src: url('../../../static/Nunito-Black.ttf');
  }

  @font-face {
    font-family: 'Nunito-light';
    src: url('../../../static/Nunito-Bold.ttf');
  }
 
 
 
  /* PREVENIR SCROLL HORIZONTAL */
  html, body {
    overflow-x: hidden;
    width: 100%;
    max-width: 100vw;
    font-size: 16px;
  }
 
  header, main, footer {
    overflow-x: hidden;
  }
 
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
 
 
  body {
    font-size: 3rem;
    font-family: 'Nunito', sans-serif;
    line-height: 1.2;
    min-height: 100vh;      /* Ocupa toda la pantalla */
    min-width: 100vw;
    background-color: #EAF5F5;
  }
 
 

  .barra {
    display: flex;
    justify-content: space-between; /* Izquierda ↔ Derecha */
    align-items: center;
    padding:2rem;
    background-color: #91BEDE ;
    font-family: 'Nunito', sans-serif;
    min-width: 100%;
    overflow-x: hidden;

  }
 
  .izquierda {
    display: flex;
    gap: 2rem;
  }
 
  .derecha {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
 
  .botones-derecha{
    display: flex;
    flex-direction: row;
    gap:1rem;
  }
 
  .logo {
    display: flex;
    align-items:flex-start;
    text-align: left;
    gap: 0.8rem;
    font-size: 1.8rem;
    font-weight: bold;
    color: #1F366E;
  }
 
  .logo img {
    width: 4rem;
    height: 3rem;
  }
 
  .logo p{
    margin-top: 0rem;
    font-size: 1rem;
    color:#1F366E;
  }
 
  .topbar {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
 
   .palabras {
    display: flex;
    gap: 1.5rem;
    font-size: 1.3rem;
  }

  .palabras p {
    cursor: pointer;
    color: #47587e;
    transition: 0.2s;
  }
 
  .palabras p:hover {
    color: white;
    transform: scale(1.05);
  }
  .gap-logo{
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
 
  }
 
  /* BOTONES */
  .auth, .izquierda {
    display: flex;
    gap: 1rem;
  }
 
  .publicar, .perfil {
    display: flex;
    flex-direction: row;
    background-color: #1F366E;
    border: none;
    font-size: 1.35rem;
    cursor: pointer;
    padding: 0.3rem 0.8rem;
    border-radius: 0.5rem;
    transition: 0.2s;
    gap:0.5rem;
    color:white;
    font-family: "Nunito";

  }

  .publicar img, .perfil img {
    width: 1.2rem;
    height: 1.2rem;
    margin-top: 0.2rem;
  }
 
  .perfil {
    border: 0.15rem solid #182955;
  }
 
  .publicar:hover, .perfil:hover {
    transform: scale(1.05);
    background-color:#2a4896;
    border: 0.15rem solid #1f3670;
  }

  .modos{
    display: flex;
    flex-direction: row;
    gap: 0.2em;
  }
 
  .sol{
    height:2.2rem;
    width:2.2rem;
    margin-top: 0.5rem;
  }
 
  .luna{
    height:1.7rem;
    width:1.7rem;
    margin-top: 0.7rem;
  }


.boton-modo {
  width: 4rem;
  height: 2rem; 
  background-color: #D9D9D9;
  border-radius: 3rem; 
  position: relative;
  cursor: pointer;
  margin-top: 0.5rem;
}

.toggle {
  width: 1.8rem;  
  height: 1.7rem;
  background-color:#FFFBFB;
  border-radius: 50%;
  position: absolute;
  top: 0.13rem;
  left: 0.16rem;
  transition: left 0.3s ease;
}

.boton-modo.activo {
  background-color: #9c9c9c;
}

.boton-modo.activo .toggle {
  left: 2rem; 
}




 
.mega-contenedor{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
  }
 
  .contenedor-izquierda{
    background-color:rgb(251, 253, 255);
    padding:0.5rem;
    height: 100%;
    width:35%;
    object-fit: cover;
    padding-bottom:20rem;
    border-radius: 2rem;
 
  }
 
  .izquierda-arriba{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(251, 253, 255);
    padding:2rem;
    gap:2rem;
  }
 
  .izquierda-texto{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:1rem;
  }
  .izquierda-arriba h1{
    color:black;
    font-size:3rem;
  }
 
  .izquierda-arriba h3{
    color:black;
    font-size:2rem;
  }
 
  .izquierda-abajo{
    display: flex;
    justify-content: center;
    text-align: center;
    color:black;
    font-size:1.2rem;
    padding:2rem;
 
  }
 
  .imagen-gato img{
    width: 25rem;
    height: 20rem;
    border-radius: 2rem;
    object-fit: cover
  }
 
  .contenedor-derecha{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(251, 253, 255);
    padding:2rem;
    width: 65%;
    border-radius: 2rem;

}

.contactos{
  display: flex;
  flex-direction: column;
  text-align:left;
  gap:1rem;
}

.contactos h1{
  color:#1F366E;
  font-size: 1.5rem;
}

.contactos p{
  color:#1F366E;
  font-size: 1rem;
  font-family: "Nunito-light";

}

.contacto-text{
  display: flex;
  flex-direction: column;
  text-align:left;
  gap: 0.5rem;
}

.publicacion{
  background-color: #1F366E;
  display: flex;
  flex-direction: column;
  text-align:left;
  padding: 2rem;
  border-radius:2rem;
  width:105%;
  height:10rem;
  gap:1rem;
}

.publicacion h2 , p{
  color:white;
  font-size:1rem;
}

.publicacion p{
  font-family: "Nunito-light";
  text-decoration: none;
}

.publicacion a{
  color:white;
}

.contenedor-derecha{
  display:flex;
  flex-direction: column;
  gap:3rem;
}

.nombre-gato{
  display:flex;
  flex-direction: row;
  align-items: flex-start;
  text-align: left;
  color:#1F366E; 
  width:100%;
  font-family: "Nunito-light";
  gap:2rem;
}

.nombre-gato img{
  display:flex;
  margin-top: 1.5rem;
  width:5rem;
  height:5rem;
}


.publicaciones-todo{
  display:flex;
  flex-direction: row;
  gap:10rem;
}

.publicacion-izquierda{
  display:flex;
  flex-direction: column;
  text-align:left;
  align-items: flex-start;
  gap:2rem;
  width:40%;
}

.publicacion-derecha{
  display:flex;
  flex-direction: column;
  text-align:left;
  align-items: flex-start;
  gap:2rem;
  width:50%;
}

.columnas{
  display:flex;
  flex-direction: column;
  text-align:left;
  gap:0.5rem;
  color:#1F366E;
}

.columnas-derecha{
  display:flex;
  flex-direction: column;
  text-align:left;
  gap:0.5rem;
  color:#1F366E;}

.columnas h1 , .columnas-derecha h1{
  font-family:"Nunito";
  font-size:1.5rem;
}

.columnas p , .columnas-derecha p{
  font-family:"Nunito-light";
  font-size:1rem;
  color:#1F366E;

}

.Atributitos{
  display: flex;
  flex-wrap: wrap; /* Para que pasen a otra línea si hay muchos */
  gap: 1rem;
  color:#1F366E;
  font-size:1rem;
}

.Atributos{
  background-color: #1F366E;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 20rem;
  font-size: 1.2rem;
  display: inline-block;
  text-align: center;
}


.footer-pasto{
  position: absolute;
  margin-top: -10rem;
  z-index: 100;
}

.footer-pasto img{
  width: 120%;
  height: auto;
  display: block;
  z-index: 100;

}

.footer-abajo{
  position: relative;
}