@font-face {
  font-family: 'Nunito';
  src: url('../../static/Nunito-Black.ttf');
}


html{
  height: 100%;
  font-family: 'Nunito', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:flex-end;
  padding: 0 1rem;
  color:#1F366E;
  font-size: 2rem;
}

main{
  font-size: 2rem;
  background-color: #AED05D;
  width: 100%;
  min-height: 100vh;
  color:white;
  padding-bottom: 2rem;
}

.modos{
  display: flex;
  justify-content: right;
  flex-direction: row;
  gap: 0.7rem;
  transform: scale(1.5);
}

.sol{
  height: 1.6rem;
  width: 1.6rem;
  margin-top: 0.35rem;
}

.luna{
  height: 1.3rem;
  width: 1.3rem;
  margin-top: 0.5rem;
}

.boton-modo {
  width: 2.8rem;
  height: 1.4rem;
  background-color: #D9D9D9;
  border-radius: 3rem; 
  position: relative;
  cursor: pointer;
  margin-top: 0.4rem;
}

.toggle {
  width: 1.2rem;
  height: 1.2rem;
  background-color:#FFFBFB;
  border-radius: 50%;
  position: absolute;
  top: 0.11rem;
  left: 0.12rem;
  transition: left 0.3s ease;
}

.boton-modo.activo {
  background-color: #9c9c9c;
}

.boton-modo.activo .toggle {
  left: 1.45rem;
}

.titulo img{
  padding-top: 2rem;
  cursor:pointer;
}

.todo{
  gap: 2rem;
}

.settings h1{
  padding-top: 2rem;
  font-size: 3rem;
}

    
.caja-genero{
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding:2rem;
  background-color: #AED05D;
}

.Masculino, .Femenino{
  background-color: #7fb34d;
  color: #2d3e1f;  
  padding: 2rem;
  border-radius: 1rem;
  width: 40%;
  border: #618a3b solid 0.2rem;
  transition: 0.3s ease;
}

.fechas{
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding:2rem;
  padding-top: 0rem;
}

.fechas input{
  display: flex;
  justify-content: center;
  background-color: #7fb34d;
  color: #2d3e1f;
  padding:1.5rem;
  border-radius: 1rem;
  width: 89%;
  border: #618a3b solid 0.2rem;
  font-size: xx-large;
  font-family: 'Nunito';
  transition: 0.3s ease;
  cursor: pointer;

}

.caja-botones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.botones {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #67913f;
  border-radius: 1rem;
  padding: 2rem;
  width: 89%; 
  height: 4rem;
  border: #47642c solid 0.2rem;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
  gap:2rem;

}

.botones input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  color: #2d3e1f;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Nunito';
}

.botones input::placeholder {
  color: #2d3e1f;
}

.botones img {
  width: 24px;
  height: 24px;
}

.botones:hover {
  background-color: #72a146;
  transform: scale(1.01);
}


.fechas input:hover {
  background-color: #72a146;
  transform: scale(1.01);
}

.caja-genero :hover {
  background-color: #72a146;
  transform: scale(1.03);
}

.Crear-caja{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  gap:2rem;
}

.Crear-caja video{
  width: 6rem;
  height: 6rem;
  border-radius:2rem;
  border:#33471f 0.2rem solid ;
}

.final{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color:  #537534;
  border-radius: 1rem;
  width: 30%;
  height: 2rem;
  border: #33471f solid 0.2rem;
  transition: 0.3s ease;
  cursor: pointer;
}

.final button{
  background-color: transparent;
  border: none;
  color: #1c2713;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Nunito';
  cursor: pointer;
}

.Crear-caja:hover .final {
  background-color:  #67913f;
  transform: scale(1.03);
  border:  #47642c solid 0.2rem;
}


body.dark-mode{
  background-color: #112431;
}

body.dark-mode .titulo h1 {
  color:#EAF6FF;
}

body.dark-mode main {
  background-color: #224832;
  color:#EAF6FF;
}

body.dark-mode .settings h1{
  color:#ffffff;

}


body.dark-mode .botones {
  background-color: #9ABD89;
  border: #89a87b solid 0.2rem;
  color:#EAF6FF;
}


body.dark-mode .botones input {
  color:#FFFFFF;
}

body.dark-mode .botones input::placeholder {
  color:#FFFFFF;
}

body.dark-mode .botones:hover {
  background-color: #8dad7e;
  border: #78926d solid 0.2rem;
}

body.dark-mode .caja-genero{
  background-color: #224832;
  color: #FFFFFF;
}

body.dark-mode .Masculino{
  background-color: #8dad7e;
  border: #809c72 solid 0.2rem;
  color: #FFFFFF;
}


body.dark-mode  .Masculino button{
  background-color: #8dad7e;
  border: #78926d solid 0.2rem;
  color: #FFFFFF;
}


body.dark-mode .Femenino{
  background-color: #8dad7e;
  border: #7d9970 solid 0.2rem;
  color: #FFFFFF;
}

body.dark-mode  .Femenino button{
  background-color: #809c73;
  border: #78926d solid 0.2rem;
  color: #FFFFFF;

}

body.dark-mode  .fechas input{
  background-color: #8dad7e;
  color: #FFFFFF;
  border: #7d9970 solid 0.2rem;
}

body.dark-mode  .fechas input:hover {
  background-color: #8dad7e;
  border: #78926d solid 0.2rem;
  color: #FFFFFF;
}

body.dark-mode .caja-genero :hover {
  background-color: #8dad7e;
}


body.dark-mode .final{
  background-color:#20322C ;
  color: #FFFFFF;
  border: #16221e solid 0.2rem;
}

body.dark-mode .final button{
  color: #FFFFFF;
  background-color:#20322C ;
}

body.dark-mode .Crear-caja:hover .final {
  background-color:#1b2924 ;
  border: #12251a solid 0.2rem;

}

body.dark-mode .final button:hover{
  color: #FFFFFF;
  background-color:#1b2924 ;
}

body.dark-mode .final button label:hover{
  color: #FFFFFF;
  background-color:#1b2924 ;
}  

body.dark-mode .Crear-caja video{
  border:#16221e 0.2rem solid ;
}


