@font-face {
  font-family: 'Nunito';
  src: url('../../../static/Nunito-Black.ttf'); 
}

* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

/* PREVENIR SCROLL HORIZONTAL */
html, body {
overflow-x: hidden;
width: 100%;
max-width: 100vw;
}

header, main, footer {
overflow-x: hidden;
}

img {
max-width: 100%;
height: auto;
display: block;
}


body {
font-size: 3rem;
font-family: 'Nunito', sans-serif;
color: #1F366E;
line-height: 1.2;
min-height: 100vh;      /* Ocupa toda la pantalla */
min-width: 100vw;
background-color: #EAF5F5;
}
.barra {
  display: flex;
  justify-content: space-between; /* Izquierda ↔ Derecha */
  align-items: center;
  padding:2rem;
  background-color: #91BEDE ;
  font-family: 'Nunito', sans-serif;
  min-width: 100%;
  overflow-x: hidden;
}

.izquierda {
  display: flex;
  gap: 2rem;
}

.derecha {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.botones-derecha{
  display: flex;
  flex-direction: row;
  gap:1rem;
}

.logo {
  display: flex;
  align-items:flex-start;
  text-align: left;
  gap: 0.8rem;
  font-size: 1.8rem;
  font-weight: bold;
  color: #1F366E;
}

.logo img {
  width: 4rem;
  height: 3rem;
  cursor: pointer;
}

.logo p{
  margin-top: 0rem;
  font-size: 1rem;
}

.topbar {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.palabras {
  display: flex;
  gap: 1.5rem;
  font-size: 1.1rem;
}

.palabras p {
  cursor: pointer;
  color: #47587e;
  transition: 0.2s;
}

.palabras p:hover {
  color: white;
  transform: scale(1.05);
}
.gap-logo{
  display: flex;
  flex-direction: row;
  gap: 2.5rem;

}

/* BOTONES */
.auth, .izquierda {
  display: flex;
  gap: 1rem;
}

.publicar, .perfil {
  display: flex;
  flex-direction: row;
  background-color: #1F366E;
  border: none;
  font-size: 1.35rem;
  color: #182955;
  cursor: pointer;
  padding: 0.3rem 0.8rem;
  border-radius: 0.5rem;
  transition: 0.2s;
  gap:0.5rem;
  color:white;
  font-family: "Nunito";

}

.publicar img, .perfil img {
  width: 1.2rem;
  height: 1.2rem;
  margin-top: 0.2rem;
}

.perfil {
  border: 0.15rem solid #182955;
}

.publicar:hover, .perfil:hover {
  transform: scale(1.05);
  background-color:#2a4896;
  border: 0.15rem solid #1f3670;
}

.modos{
  display: flex;
  flex-direction: row;
  gap: 0.2em;
}

.sol{
  height:2.2rem;
  width:2.2rem;
  margin-top: 0.5rem;
}

.luna{
  height:1.7rem;
  width:1.7rem;
  margin-top: 0.7rem;
}


.boton-modo {
width: 4rem;
height: 2rem; 
background-color: #D9D9D9;
border-radius: 3rem; 
position: relative;
cursor: pointer;
margin-top: 0.5rem;
}

.toggle {
width: 1.8rem;  
height: 1.7rem;
background-color:#FFFBFB;
border-radius: 50%;
position: absolute;
top: 0.13rem;
left: 0.16rem;
transition: left 0.3s ease;
}

.boton-modo.activo {
background-color: #9c9c9c;
}

.boton-modo.activo .toggle {
left: 2rem; 
}


.Perros {
position: relative;   /*texto se pone encima */
width: 100%;
}

.Perros img{
height: 25rem;
width: 100%;
object-fit: cover;
}

.Perros .overlay {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
color:white;
}

.barra-abajo{
padding:3.5rem;
background-color: #91BEDE;
}


.mega-contenedor{
  display: flex;
  flex-direction: column;
  gap:2rem;
  max-width: 100%;
  overflow-x: hidden;
}


h1{
  padding-left:2rem;
  font-size: 3rem; 
  margin-top: 2rem; 
}

.filas {
  display: flex;
  flex-wrap: wrap;
  justify-content:left;
  gap: 2rem;
  width: 100%;
  max-width: 100%;
}

.row1 , .row2{
  display: flex;
  flex-direction: row;
  gap:2rem;
}

.cajita {
  background-color:#D9D9D9;
  display: flex;
  flex-direction: column;
  height: 29rem;
  width: 19rem;
  padding: 1rem;
  font-size: 1.1rem;
  overflow: hidden; /* evita que la imagen se salga */
  border-radius: 1rem;
  gap: 1rem;
}

.cajita img {
  width: 100%;
  height: 50%;
  object-fit: cover; /* recorta sin distorsionar */
  border-radius: 1rem;
  cursor: pointer;
}

.fila-arriba{
  display: flex;
  flex-direction: row;
  gap:6.5rem;
  color:#1F366E;
  margin-left: 0.5rem;
}

.imagencitas{
  display: flex;
  flex-direction: row;
  height:3rem;
  width:1.8rem;
  gap:1rem;
  margin-top: -1rem;
}

.imagencitas img{
  height:3.5rem;
  width:auto;        /* mantiene proporción */
  object-fit:contain;
  flex:0 0 auto;     /* no se encojan */
}
.descripcion{
  display: flex;
  flex-direction: column;
  margin-top:1rem;
  gap:1rem;
  margin-left: 0.5rem;

  
}

.fila1{
  display: flex;
  flex-direction: row;
}

.fila1 img , .fila2 img , .fila3 img{
  width:1.5rem;
  height:1.5rem;
  width:auto;        /* mantiene proporción */
  object-fit:contain;
  flex:0 0 auto;     /* no se encojan */
  padding-right:0.5rem;
  margin-top: -0.3rem;
  border-radius: 0%;
}

.fila2{
  display: flex;
  flex-direction: row;
  margin-left: 0.1rem;
}

.fila3{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.mas-info{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  gap: 0.5rem;
  color: #FFFFFF;
}

.fila3 img{
  height:1.3rem;
  width:auto;        /* mantiene proporción */
  object-fit:contain;
  flex:0 0 auto;     /* no se encojan */
  margin-top: 0.05rem;
}

.fila3 button{
  height:2rem;
  width:85%;
  object-fit:contain;
  padding:1.3rem;
  border-radius: 2rem;
  background-color: #1F366E;
  font-family:"Nunito";
  border: transparent;
}

.fila3 button:hover{
  transition: 0.5s;
  transform:scale(1.1);
  background-color:#1b2f61;
}



.footer-pasto{
  position: absolute;
  z-index: 100;
}

.footer-pasto img{
  width: 120%;
  height: auto;
  display: block;
  z-index: 100;

}

.footer-abajo{
  position: relative;
}

.corazones {
  transition: transform 0.2s;
  cursor: pointer;
}
.corazones:active {
  transform: scale(0.9);
}